body h1{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
#Westport,#Trumbull,#Fairfield,#Stamford{
       width: 300px;
       height: 420px;
    /* background-color: aquamarine; */
    margin: 8px;
    padding: 10px;
    border: 1px solid grey;
}
 img{
    width: 300px;
}
